<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <p>Questions-Generator is an experimental project that uses NLTK along with TextBlob to separate the parts of speech from a sentence. The code further creates a set of questions removing the nouns from the sentence.
                This can prove to be very useful for students and professionals alike thereby helping them to test the details on a particular topic.</p>
                <p>Try pasting a paragraph below and then click on generate questions.</p>
        </div>
        <div class="col-md-9">
            <textarea [(ngModel)]="text"></textarea>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" (click)="testing()">Generate Questions</button>
        </div>
    </div>
    <br />
    <div class="row" *ngIf="questionPairs.length>0">
        <div class="col-md-9" *ngFor="let pair of questionPairs; let i=index">
            <mat-card class="mat-elevation-z5">
                <mat-card-content>{{pair[0]}}</mat-card-content>
                <mat-card-actions *ngIf="i !== selectedIndex">
                    <button mat-button (click)="viewAnswer(i)">View Answer</button>
                </mat-card-actions>
                <div *ngIf="i == selectedIndex">
                    <p><mark>{{selectedAnswer}}</mark></p>
                </div>
            </mat-card>
            <br />

        </div>

    </div>

</div>